body{
  font-family: Arial;
}
.label{
  color: gray;
  font-size: 12px;
}
.ml-2{
  margin-left: 20px;
}
.btn-st{
  margin-top: 10px;
  margin-left: 35px;
  margin-bottom: 50px;
  height: 50px;
}
span{
  color: red;
}
.btn-txt{
  color: gray;
}
.error{
  color: #ff3300;
  margin-left: 35px;
}

input:invalid{
  background-color: pink;
}
input:valid{
  background-color: white;
}
input:not(:focus):invalid{
  background-color: white;
}
