
<div class="container">
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <div class="row ml-2 form-group">
        <strong>Full Name <span>*</span></strong>
        <p></p>
        <div class="col-sm-3">
          <input required pattern="[a-zA-Z]+" minlength="3" id="firstName" type="text" class="form-control" name="firstName" formControlName="firstName" >
          <label class="label" for="firstName">First Name</label>
        </div>
        <div class="col-sm-3">
          <input required pattern="[a-zA-Z]+" minlength="3" id="lastName" type="text" class="form-control" formControlName="lastName">
          <label class="label" for="lastName">Last Name</label>
        </div>
        <p></p>
        <strong>Address <span>*</span></strong>
        <p></p>
        <div class="col-sm-6">
          <input required id="address" name="address" type="text" class="form-control" formControlName="address">
          <label class="label" for="address">Street Address</label>
          <p></p>
          <input id="address2" name="address2" type="text" class="form-control" formControlName="address2">
          <label class="label" for="address2">Street Address Line 2</label>
          <p></p>
          <div class="row">
            <div class="col">
              <input required id="city" name="city" type="text" class="form-control" formControlName="city">
              <label class="label" for="city">City</label>
            </div>
            <div class="col">
              <input required id="stateProvince" name="stateOrProvince" type="text" class="form-control" formControlName="stateProvince">
              <label class="label" for="stateProvince">State / Province</label>
            </div>
          </div>
          <p></p>
          <input required id="postal" name="postal" type="text" class="form-control" formControlName="postalCode">
          <label class="label" for="postal">Postal / Zip Code</label>
          <p></p>
        </div>
        <strong>Phone Number <span>*</span></strong>
        <p></p>
        <div class="col-sm-3">
          <input required  minlength="10" maxlength="10" id="phoneNumber" name="phoneNumber" type="tel" class="form-control" value="" placeholder="(000) 000-0000" formControlName="phoneNumber">
          <label class="label" for="phoneNumber">Phone Number</label>
        </div>
        <p></p>
        <strong>E-mail</strong>
        <p></p>
        <div class="col-sm-3">
          <input id="email" name="email" type="email" class="form-control" value="" placeholder="ex: email@yahoo.com" formControlName="email">
          <label class="label" for="email">ex: email@yahoo.com</label>
        </div>
        <p></p>
      </div>
      <hr>
      <p *ngIf="invalid" class="error">Validation error: check your data</p>
      <button type="submit" class="btn btn-outline-success btn-st col-sm-2"><span class="btn-txt">Submit</span></button>
  </form>
</div>
