/* You can add global styles to this file, and also import other style files */
@font-face{
  font-family:Lato
}

body{
  margin-top: 30px;
  font-family:Lato;
}

.logo{
  margin-left: 280px;
  height: 90px;
}

.logo-text{
  font-size: 50px;
  font-weight:400;
  font-style:normal;
  color: #666666;
  margin-bottom: 30px;
  margin-left: 100px;
}

span{
  color: #ff3300;
}
